.CurrencyRoot {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
}

.CurrencyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;

    & h5, h4 {
        color: #3f51b5;
    }

    &__Primary {
        @extend .CurrencyContainer;
        background-color: white;

        & h5, h4 {
            color: #3f51b5;
        }
    }

    &__Secondary {
        @extend .CurrencyContainer;
        background-color: #3f51b5;

        & h5, h4, h2, h1 {
            color: white !important;
        }

        & h2 {
            font-weight: bold;
            font-size: 80px;
        }
    }
}

.CurrencyButton {
    width: 50%;
    padding: 20px;

    & a {
        text-align: left;
        justify-content: space-between;
        display: flex;
        font-size: 18px;
        font-weight: bold;

        & i {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.CurrencyInput {
    // width: 200px;
    // max-width: 200px;
    width: 80%;
    font-size: 80px;
    text-align: center;
    background: none;
    border: none;
    color: #3f51b5;
    font-weight: bold;
    
    
    &::placeholder { /* Most modern browsers support this now. */
        color: #3f51b5;
    }

    &__Primary {
        color: #3f51b5;

        &::placeholder { /* Most modern browsers support this now. */
            color: #3f51b5;
        }
    }

    &__Secondary {
        color: white !important;

        &::placeholder { /* Most modern browsers support this now. */
            color: white !important;
        }
    }
}

.CenterArrowIcon {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid #3f51b5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & svg {
        font-size: 40px;
        color: #3f51b5;
    }
}